.login_body_div{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2d3a4b;
    justify-content: center;
    align-items: center;
}

.login_title{
    font-size: 26px;
    color: #eee;
    margin: 0 auto 40px auto;
    text-align: center;
    font-weight: 700;
}

.login_form{
    width: 520px;
    max-width: 100%;
}

.login_input{
    height: 47px;
}

.login_submit_button{
    width: 100%;
    margin-bottom: 30px;
    background: #46a6ff;
    border-color: #46a6ff;
    color: #fff;
    height: 47px !important;
}